{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="display-4">🙋‍♂️ Hola, soy Guillermo Z. Arguello Cordobe!</h1>
    <hr class="my-4">
    <p class="lead"> -Tengo 19 años y estudio ing informatica</p>
    <p class="lead"> -Me gusta aprender a programar
    <p class="lead"> -Trabajo en equipo</p>
    <p class="lead"> -Y nada mas.. </p>
    <p class="lead"> -Tengo un canal de deportes</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ir al canal</a>
  </div>
  
{% endblock %}
